<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6 my-4">
            <img src="https://c.tenor.com/iZgF8NBZ1acAAAAd/rsc2020-elpradiant2020.gif" style="width: 100%; height: 100%;">
        </div>
        <div class="col-sm-6 my-4 align-self-center">
            <h1 class="mb-4">Register</h1>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
               
                <button type="submit" class="btn btn-primary mt-4">Register</button>
              </form>
        </div>
    </div>
</div>
<app-footer></app-footer>